.bg-light-gray {
  background-color: rgba(241, 241, 241, 1);
}
.bg-deep-blue-12 {
  background-color: rgba(8, 30, 52, 0.12);
}
.bg-paper {
  background-color: rgba(225, 224, 230, 1);
}
.text-blue-gray {
  color: #6c7a89;
}
.text-deep-navy {
  color: rgba(8, 30, 52, 1);
}
.text-gray {
  color: rgba(102, 102, 102, 0.9);
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.woff2") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.sfpd {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
}
.kanit-ms {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}
.kanit-ml {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  line-height: 120px;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
}
.inter-mb {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0%;
}
.inter-bs {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0%;
}
.inter-bb {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 34px;
  line-height: 38px;
  letter-spacing: 0%;
}
.fw-500 {
  font-weight: 500;
}
.h-265px {
  height: 265px;
}
.h-480px {
  height: 480px;
}
.h-16px {
  height: 16px;
}
.w-h-24px {
  width: 24px;
  height: 24px;
}
.w-h-18px {
  width: 18px;
  height: 18px;
}
.w-77px {
  width: 77px;
}
.w-110px {
  width: 110px;
}
.w-265px {
  width: 265px;
}
.w-693px {
  width: 693px;
}
.w-755px {
  width: 755px;
}
.w-12px {
  width: 12px;
}
.gap-70px {
  gap: 70px;
}
.gap-14px {
  gap: 14px;
}
.gap-12px {
  gap: 12px;
}
.gap-45px {
  gap: 45px;
}
.gap-32px {
  gap: 32px;
}
.px-160px {
  padding-left: 160px;
  padding-right: 160px;
}
.px-12px {
  padding-left: 12px;
  padding-right: 12px;
}
.py-64px {
  padding-top: 64px;
  padding-bottom: 64px;
}
.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pb-36px {
  padding-bottom: 36px;
}
.pt-778px {
  padding-top: 778px;
}
.pt-306px {
  padding-top: 306px;
}
.pb-32px {
  padding-bottom: 32px;
}
.pt-96px {
  padding-top: 96px;
}
.pb-36px {
  padding-bottom: 36px;
}
.border-r-100px {
  border-radius: 100px;
}
.border-bottom-1 {
  border-bottom: 1px solid rgba(204, 204, 204, 1);
}
.container-theme {
  width: 110px;
  height: 30px;
}
#theme-selector {
  opacity: 0;
  pointer-events: none;
}
.container-theme:hover #theme-selector {
  opacity: 1;
  pointer-events: auto;
}
body.default-theme {
  background-color: rgba(241, 241, 241, 1);
  color: black;
}

body.dark-theme {
  background-color: #121212;
  color: white;
}

body.neon-theme {
  background-color: black;
  color: #ff073a;
  text-shadow: 0 0 5px #ff073a, 0 0 10px #ff073a, 0 0 20px #ff073a;
}

body.anime-theme {
  background-image: url("/img/anime-bg.jpg");
  color: pink;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title:hover {
  cursor: pointer;
}

@media (max-width: 1341px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1045px) {
  .news {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .img {
    width: 100%;
    height: 400px;
  }
  .info-bottom,
  .top {
    width: 100%;
  }
}
@media (max-width: 775px) {
  .kanit-ms {
    font-size: 14px;
    line-height: 18px;
  }
  .kanit-ml {
    font-size: 36px;
    line-height: 80px;
  }
  .inter-regular {
    font-size: 12px;
    line-height: 18px;
  }
  .inter-medium {
    font-size: 8px;
    line-height: 12px;
  }
  .inter-mb {
    font-size: 16px;
    line-height: 18px;
  }
  .inter-bold {
    font-size: 24px;
    line-height: 28px;
  }
  .inter-bs {
    font-size: 18px;
    line-height: 24px;
  }
  .inter-bb {
    font-size: 28px;
    line-height: 34px;
  }
  .sfpd {
    font-size: 18px;
    line-height: 28px;
  }
  .header {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
  }
  .section {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
  }
  .min-read, .selected-for-you {
    width: auto !important;
  }
  .image {
    height: 400px;
  }
}
@media (max-width: 480px) {
  .img {
    height: 200px;
  }
  .image {
    height: 300px;
  }
  .btn-low {
    padding: 0;
  }
}
